.shelf-bg {
    background-image: url('../images/bookshelves.png');
    position: absolute;
    height: 735px;
    width: 1440px;
}

.park-story-book{
    margin-left: 475px;
    margin-top: 100px;
    /* border: 2px solid black; */
}

.park-story-book-glutton-end{
    margin-left: 0px;
    margin-top: -523px;
}



.intro-text-box{
    width: 400px;
    text-align: center;
    margin-top: -20px;
    margin-left: 25px;
    font-size: 32px
}

/* .intro-category-select-button {
    background-image: url('../images/creepyKid.png');
    height: 97px;
    width: 100px;
    border-radius: 50%;
     margin-top: 30px; 
    margin-left: 230px;
    position: absolute; 

} */

.page {
    background-image: url('../images/blankPage.png');
    margin-top: 0px;
    margin-left: 0px;
    width: 440px;
    height:523px;
    position: absolute;   
}



.text-box{
    width: 370px;
    text-align: left;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}
.quote-text-box{
    width: 390px;
    text-align: center;
    margin-top: 35px;
    margin-left: 25px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.chapter-2-text-box{
    width: 370px;
    text-align: left;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 42px;
    font-family: 'Playfair Display', serif;
}

#category-picker {
    height: 523px;
    width: 350px;
    margin-top: 100px;
    margin-left: 70px;
    background-image: url('../images/chalkboard.png');
    position: absolute;
    /* border: 2px solid black; */
    
}


.chalkboard-text-header{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 40px;
    margin-top: 60px;
    margin-left: 80px;
    width: 180px;
    position: absolute;
}

.chalkboard-text-choice-1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 45px;
    margin-top:170px;
    margin-left: 65px;
    width: 180px;
    position: absolute;
}

.chalkboard-text-choice-2{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 45px;
    margin-top: 300px;
    margin-left: 45px;
    width: 180px;
    position: absolute;
}

.back-to-choose {
    height: 523px;
    width: 350px;
    margin-top: -523px;
    margin-left: 535px;
    background-image: url('../images/chalkboard.png');
    position: absolute;
}

.end-chalkboard-text-choice-1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 45px;
    margin-top:150px;
    margin-left: 80px;
    width: 180px;
    position: absolute;
}

.end-chalkboard-text-choice-2{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 45px;
    margin-top: 290px;
    margin-left: 85px;
    width: 180px;
    position: absolute;
}

#underline{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 40px;
    margin-top: 100px;
    margin-left: 80px;
    width: 180px;
    position: absolute; 
}

#or{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 50px;
    margin-top: 230px;
    margin-left: 80px;
    width: 180px;
    position: absolute; 
}


#end-or{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 50px;
    margin-top: 240px;
    margin-left: 80px;
    width: 180px;
    position: absolute; 
}

.glutton-tag-line{
    width: 370px;
    text-align: center;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.race-end-tag-line{
    width: 370px;
    text-align: center;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.race-end-tag-line{
    width: 370px;
    text-align: center;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

img.animated-gif{
    margin-left: 90px;
    margin-top: 90px;
    width: auto;
}

img.animated-gif-park{
    margin-left:50px;
    margin-top: 0px;
    width: auto;
    width: 350px;
}

img.animated-gif-quote-photo{
    width: 300px;
    margin-left:80px;
    margin-top: -20px;
    height: 200px;
}

img.animated-gif-bottom-left{
    width: 300px;
    height: 200px;
    margin-left: 80px;
    margin-top: -20px;
}

img.animated-gif-bottom-right{
    width: 300px;
    height: 200px;
    margin-left: 70px;
    margin-top: 0px;
}

.race-tag-line-park-evil{
    width: 370px;
    text-align: center;
    margin-top: -15px;
    margin-left: 45px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.post-tag-line-text-box{
    width: 370px;
    text-align: left;
    margin-top: -5px;
    margin-left: 45px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.ch-2-header{
    width: 370px;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 42px;
    font-family: 'Playfair Display', serif;
}

.ch-2-title{
    width: 370px;
    text-align: center;
    margin-top: -20px;
    margin-left: 0px;
    font-size: 42px;
    font-family: 'Playfair Display', serif;
}