.shelf-bg {
    background-image: url('../images/bookshelves.png');
    position: absolute;
    height: 735px;
    width: 1440px;
}

.park-story-book{
    margin-left: 475px;
    margin-top: 100px;
    /* border: 2px solid black; */
}



.intro-text-box{
    width: 400px;
    text-align: center;
    margin-top: -20px;
    margin-left: 25px;
    font-size: 32px
}

/* .intro-category-select-button {
    background-image: url('../images/creepyKid.png');
    height: 97px;
    width: 100px;
    border-radius: 50%;
     margin-top: 30px; 
    margin-left: 230px;
    position: absolute; 

} */

.page {
    background-image: url('../images/blankPage.png');
    margin-top: 0px;
    margin-left: 0px;
    width: 440px;
    height:523px;
    
    position: absolute;
    /* margin-top: -18px; */
    /* font-family: 'Baskerville'; */
    /* font-family: 'Calistoga', cursive; */
   
}

/* .category-select-button {
    background-image: url('../images/creepyKid.png');
    height: 97px;
    width: 100px;
    border-radius: 50%;
     margin-top: 30px; 
    margin-left: 225px;
    position: absolute; 

} */

.text-box{
    width: 370px;
    text-align: left;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

#category-picker {
    height: 523px;
    width: 350px;
    margin-top: 100px;
    margin-left: 70px;
    background-image: url('../images/chalkboard.png');
    position: absolute;
    /* border: 2px solid black; */
    
}

.chalkboard-text-header{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 40px;
    margin-top: 60px;
    margin-left: 80px;
    width: 180px;
    position: absolute;
}

.chalkboard-text-choice-1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 45px;
    margin-top:170px;
    margin-left: 80px;
    width: 180px;
    position: absolute;
}

.chalkboard-text-choice-2{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 45px;
    margin-top: 300px;
    margin-left: 65px;
    width: 180px;
    position: absolute;
}

#underline{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 40px;
    margin-top: 100px;
    margin-left: 80px;
    width: 180px;
    position: absolute; 
}

#or{
    color: whitesmoke;
    text-align: center;
    font-family: 'Eraser';
    font-size: 50px;
    margin-top: 230px;
    margin-left: 80px;
    width: 180px;
    position: absolute; 
}

.race-tag-line{
    width: 370px;
    text-align: center;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.race-end-tag-line{
    width: 370px;
    text-align: center;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

img.animated-gif{
    margin-left: 90px;
    margin-top: 90px;
    width: auto;
}